@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Work+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#elementToWorkOn {
    border: 2px solid black;
    background-color: gray;
    color: white;
    font-weight: bold;
    margin: 4px;
    padding: 20px;
    width: 30%;
    text-align: center;
    display: none;
}
body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    background-color: hsl(275, 100%, 97%);
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-size: 100 25;
    background-repeat: no-repeat;
}
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
.attribution a:hover {
    color: hsl(282, 64%, 52%);
    text-decoration: underline;
}
main {
    width: 70%;
    margin-inline: auto;
    margin-block: 130px;
    max-height: 80vh;
    padding-inline: 20px;
    padding-block: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}
.header {
    display: flex;
}
h1 {
    color: hsl(292, 42%, 14%);
    font-size: 3rem;
    margin-inline: 15px;
    padding-block: 15px;
}
button {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    text-align: left;
    justify-content: space-between;
    border: 0;
}
h2 {
    color: hsl(292, 42%, 14%);
    font-size: 1rem;
    padding-block: 5px;
}
h2:hover {
    cursor: pointer;
    color: hsl(282, 64%, 52%);
}
p.answer {
    color: hsl(292, 16%, 49%);
    margin-block-end: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

ul {
    list-style: none;
}
.plus-icon, .minus-icon {
    float: right;
    margin-block-end: 15px;
}
.minus-icon {
    display: none;
}

@media only screen and (max-width: 800px) {
    main {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    main {
        width: 100%;
    }
}

@media only screen and (max-width: 375px)  {
    body {
        font-size: 16px;
        font-family: 'Work Sans', sans-serif;
        background-color: hsl(275, 100%, 97%);
        background-image: url(assets/images/background-pattern-mobile.svg);
        background-size: 100 25;
        background-repeat: no-repeat;
    }
}
